{% include "header.html" %}
<style>
  .embedded{
        object-fit:contain;
             width: 60%;
             height: auto;
             display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
box-shadow: 1px 2px 3px rgba(0,0,0,.5);

  }
  p{
    text-align: center;
  }
</style>
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1522426266214-ec2d2abb9ce0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1174&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I'm about.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hi, I'm Jenaro Vega Becerril. 23 years young with a Bachelors of Science degree in Computer Science from The University
        of California Riverside.</p>
        <div><img class="embedded" src="https://images.unsplash.com/photo-1519452575417-564c1401ecc0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80"></div>
        <p>On my free time you can catch me reading self development books, learning new topics, reinforcing my skills, grabbing food, at the gym getting a workout in,
        spending time outdoors, or with family and friends. </p>
        <div><img class="embedded" src="https://images.unsplash.com/photo-1452421822248-d4c2b47f0c81?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"></div>
        <p>I enjoy learning new topics and reading self development books. My favorite book so far is "<i>Conversations with God an uncommon dialogue book 1</i>" by Neale Donald Walsch.</p>
        <div><img class="embedded" src="https://images.unsplash.com/photo-1498243691581-b145c3f54a5a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80"></div>
        <p>I enjoy spending time outdoors surrounded by nature, I find it so peaceful and energizing. I plan on soon getting a decent camera to start capturing scenic views and perfect moments.</p>
        <div><img class="embedded" src="https://images.unsplash.com/photo-1508672019048-805c876b67e2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2119&q=80"></div>
        <p>You can catch me staring up at the sky on a clear night mesmerized by the stars and outer space. I can always find the little and big dipper and sometimes catch a shooting star.</p>
        <div><img class="embedded" src="https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80"></div>
        <p>I have an INFJ-A personality type and find purpose in helping others. I am a lifelong learner and take on challenges with confidence, courage and full of optimism. I find
        opportunity to learn and grow in any situation I am in.</p>
        <div><img class="embedded" src="https://images.unsplash.com/photo-1528716321680-815a8cdb8cbe?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=776&q=80"></div>
        <p>I have a passion for problem solving and embedded systems. I am currently working towards getting a career in the software/embedded field.</p>
        <div ><img  class = "embedded" src="https://images.unsplash.com/photo-1555664424-778a1e5e1b48?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" ></div>
        <p><strong>Fun Fact:</strong>There is not a single food I have tried that I did not like. Except olives but now I actually like them. </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}